<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--testing-->
<div class="container-box d-flex">
  <div class="cards-index ml-5 mr-1 my-3" style="width: 40%;">
  </div>
  <div id="map"
     style="width: 60%; height: 100vh; overflow: hidden;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= 'pk.eyJ1IjoiYmxhbWI4ODgiLCJhIjoiY2ttbjdreDB5MG16azJwbXo4dzRzM2lnMyJ9.qae37hyOWjEGEfbYk2mJkw' %>">
  </div>
</div>
